# CREDIT CARD FRAUD DETECTION
## PROJECT 2
## SURAJIT SAHOO - Intern ID : ITID1961
Workflow --> Credit card data collection --> Data cleaning and preprocessing --> Data Analysis --> Train - Test Split --> Logistic Regression Model --> Evaluate the model --> Conclusion

In [6]:
#importing necessary libraries
import numpy as np
import pandas as pd
from sklearn .model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
#loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#Distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

# This dataset is highly unbalanced
# label 0 --> Normal Transaction
# label 1 --> Fraudulent Transaction

Class
0    284315
1       492
Name: count, dtype: int64

In [13]:

# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [23]:
# statistical measures of the data
print(legit.Amount.describe(),end='\n\n')
print(fraud.Amount.describe())

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Build a sample dataset containing similar distributon of normal transactions and fraudulent transactions
.So the number of fradulent transactions --> 492

In [26]:
legit_sample = legit.sample(n=492)

new_dataset = pd.concat([legit_sample, fraud], axis=0)
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
26298,33993.0,-0.345564,1.144554,1.299193,0.060399,0.064486,-0.980781,0.723353,-0.087879,-0.435908,...,-0.260533,-0.667846,-0.018454,0.336338,-0.150404,0.071286,0.247342,0.098965,2.69,0
6778,8538.0,1.029903,-0.195763,1.938468,1.611361,-1.124241,0.861857,-1.272279,0.448608,2.282575,...,0.109155,0.830171,-0.047011,0.197510,0.299486,-0.211533,0.081683,0.023427,4.90,0
4238,3754.0,1.374820,-0.358655,0.701164,-0.450366,-1.042462,-0.991103,-0.598109,-0.295170,0.471290,...,-0.232280,-0.572940,0.127239,0.299814,0.208493,-0.522076,-0.018410,0.019863,27.10,0
188766,128117.0,-0.559955,-0.672544,1.530794,-3.344323,-0.261170,0.952115,-0.574438,0.337310,-2.022283,...,0.044331,0.460865,-0.512714,-0.354741,0.786085,0.066273,0.037776,0.040595,32.15,0
214742,139803.0,-0.109747,0.650676,-0.446821,0.471250,1.739588,1.496372,0.496110,0.520939,-0.543203,...,0.502637,1.646543,0.024943,-0.740729,-1.026225,-0.366437,0.577788,0.318615,21.16,0

In [27]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94774.745935,0.058721,0.052882,0.053767,-0.117793,0.001620,-0.084964,-0.006783,-0.019798,0.088808,...,-0.008238,-0.002285,0.018859,0.000010,0.009465,0.000206,0.021007,0.004524,0.003378,66.049858
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into targets and features

In [31]:
x = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

print(x)

            Time        V1        V2        V3        V4        V5        V6  \
26298    33993.0 -0.345564  1.144554  1.299193  0.060399  0.064486 -0.980781
6778      8538.0  1.029903 -0.195763  1.938468  1.611361 -1.124241  0.861857
4238      3754.0  1.374820 -0.358655  0.701164 -0.450366 -1.042462 -0.991103
188766  128117.0 -0.559955 -0.672544  1.530794 -3.344323 -0.261170  0.952115
214742  139803.0 -0.109747  0.650676 -0.446821  0.471250  1.739588  1.496372
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
26298   0.723353 -0.087879 -0.435908  ...  0.132724 -0.260533 -0.667846
6778   -1.272279  0.448608  2.282575  ... -0.234739  0.109155  0.830171
4238   -0.598109 -0.295170  0.471290  ...  0.077265 -0.232280 -0.572940
188766 -0.574438  0.337310 -2.022283  ... -0.235577  0.044331  0.460865
214742  0.496110  0.520939 -0.543203  ...  0.002306  0.502637  1.646543
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
26298  -0.018454  0.336338 -0.150404  0.071286  0.247342  0.098965    2.69
6778   -0.047011  0.197510  0.299486 -0.211533  0.081683  0.023427    4.90
4238    0.127239  0.299814  0.208493 -0.522076 -0.018410  0.019863   27.10
188766 -0.512714 -0.354741  0.786085  0.066273  0.037776  0.040595   32.15
214742  0.024943 -0.740729 -1.026225 -0.366437  0.577788  0.318615   21.16
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(y)

26298     0
6778      0
4238      0
188766    0
214742    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split data into Train and Test sets

In [34]:
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [35]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [36]:
lr = LogisticRegression()

lr.fit(x_train, y_train)

LogisticRegression()

Model Evaluation

In [39]:
#Accuracy on training data
x_train_prediction = lr.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9237611181702668

In [40]:
# Accuracy on test data
x_test_prediction = lr.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)
print("Accuracy on test data : ", test_data_accuracy)

Accuracy on test data :  0.9035532994923858